body {
  a {
    text-decoration: none;
  }
  li {
    float: left;
    width: 70px;
    list-style: none;
    margin-bottom: 20px;
  }
  h4 {
    width: 100px;
  }
  .active {
    background-color: lightblue;
    color: red;
  }
}