[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  background-color: rgba(167, 255, 235, 0.52);
  .info {
    position: absolute;
    top: 110px;
    left: 20px;
    width: 15%;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    text-shadow: 1px 1px 0 #E0E0E0;
    .bold {
      font-weight: bold;
      margin: 0;
    }
    p {
      margin-top: 70px;
    }
  }
  md-content {
    background-color: rgba(167, 255, 235, 0);
    width: 45%;
    min-width: 350px;
  }
  md-card{
    background-color: white;
    min-height: 675px;
    margin-top: 50px;
    padding: 50px;
    .result, .desire {
      width: 60%;
      margin: 0 auto;
      p {
        margin: 0;
      }
      .text {
        font-size: 11px;
      }
      #status {
        font-size: 17px;
      }
      h4 {
        width: auto;
        margin-top: 16px;
      }
    }
    .desire {
      p.light {
        color: darkgrey;
      }
    }
    md-tabs {
      min-height: 150px;
    }
    md-tab {
      position: static;
    }
    md-tab-content {
      padding-top: 10px;
    }
    a {
      text-decoration: none;
    }
    h4 {
      width: 100px;
      margin: 0 0 10px 20px;
    }
  }
  .slide {
    width: 80%;
    position: absolute;
    bottom: 70px;
    left: 10%;
  }
  .green {
    color: #00695C;
  }
}