<!DOCTYPE html>
<html ng-app="BMI">
<head>
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
	<!-- endbower -->
	<link rel="stylesheet" href="./style/main.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BMI</title>
</head>
<body ng-controller="BMICtrl" ng-cloak>
  <div layout="column" layout-align="space-between center">
  <md-content class="md-padding">
  	<md-card>
	    <md-tabs>
	    	<md-tab id="tab1">
	    		<md-tab-label>KG</md-tab-label>
	    		<md-tab-body>
					<h4>Weight (Kg)</h4>
					<md-input-container>
			      		<input type="number" ng-model="weight">
			      	</md-input-container>
				</md-tab-body>
	    	</md-tab>
	    	<md-tab id="tab2">
				<md-tab-label>LB</md-tab-label>
				<md-tab-body>
					<h4>Weight (Lbs)</h4>
					<md-input-container>
		      			<input type="number" ng-model="weight">
		      		</md-input-container>
				</md-tab-body>
	    	</md-tab>
	    </md-tabs>    
	    
	    <md-tabs class="heightiInput">
	    	<md-tab id="tab3">
	    		<md-tab-label>CM</md-tab-label>
	    		<md-tab-body>
					<h4>Height (cm)</h4>
					<md-input-container>
			      		<input type="number" ng-model="weight">
			      	</md-input-container>
				</md-tab-body>
	    	</md-tab>
	    	<md-tab id="tab4">
				<md-tab-label>FT</md-tab-label>
				<md-tab-body>
					<h4>Height (Ft)</h4>
					<md-input-container>
		      			<input type="number" placeholder="ft" ng-model="weight">
		      		</md-input-container>
		      		<md-input-container>
		      			<input type="number" placeholder="inch" ng-model="heightI">
		      		</md-input-container>
				</md-tab-body>
	    	</md-tab>
	    </md-tabs>
	    
	    <div layout="column" layout-align="center center" class="result">
			<p class="text">Your BMI</p>
  			<h1>{{calculate()}}</h1>
  			<p class="status">{{showTxt()}}</p>
  		</div>
    </md-card>
  </md-content>
  </div>

  	<!--bower:js -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-material/angular-material.js"></script>
	<!-- endbower -->
	
	<script src="./js/bmi.js"></script>
	<script src="http://127.0.0.1:35729/livereload.js"></script>
</body>
</html>