body {
  background-color: rgba(167, 255, 235, 0.52);
}
body md-content {
  background-color: rgba(167, 255, 235, 0);
  width: 40%;
  min-width: 350px;
}
body md-card {
  background-color: white;
  min-height: 675px;
  margin-top: 50px;
  padding: 50px;
}
body md-card .result {
  position: absolute;
  bottom: 200px;
}
body md-card md-tabs {
  min-height: 135px;
}
body md-tab {
  position: static;
}
body md-tab span {
  margin-top: 25px;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 30px;
  height: 35px;
}
body a {
  text-decoration: none;
}
body li {
  float: left;
  width: 70px;
  list-style: none;
  margin-bottom: 20px;
}
body h4 {
  width: 100px;
}
body .active {
  background-color: lightblue;
  color: red;
}
