body a {
  text-decoration: none;
}
body li {
  float: left;
  width: 70px;
  list-style: none;
  margin-bottom: 20px;
}
body h4 {
  width: 100px;
}
body .active {
  background-color: lightblue;
  color: red;
}
