[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
body {
  background-color: rgba(167, 255, 235, 0.52);
}
body .info {
  width: 22%;
  float: left;
  margin: 70px 0 0 10px;
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.6);
}
body .info .bold {
  font-weight: bold;
}
body md-content {
  background-color: rgba(167, 255, 235, 0);
  width: 40%;
  min-width: 350px;
}
body md-card {
  background-color: white;
  min-height: 675px;
  margin-top: 50px;
  padding: 50px;
}
body md-card .result,
body md-card .desire {
  width: 60%;
  margin: 0 auto;
}
body md-card .result p,
body md-card .desire p {
  margin: 0;
}
body md-card .result .text,
body md-card .desire .text {
  font-size: 11px;
}
body md-card .result #status,
body md-card .desire #status {
  font-size: 17px;
}
body md-card .result h4,
body md-card .desire h4 {
  width: auto;
  margin-top: 16px;
}
body md-card .desire p.light {
  color: darkgrey;
}
body md-card md-tabs {
  min-height: 150px;
}
body md-card md-tab {
  position: static;
}
body md-card md-tab-content {
  padding-top: 10px;
}
body md-card a {
  text-decoration: none;
}
body md-card h4 {
  width: 100px;
  margin: 0 0 10px 20px;
}
body .slide {
  width: 80%;
  position: absolute;
  bottom: 70px;
  left: 10%;
}
body .green {
  color: #00695C;
}
